body{
    background-color: #e6ffff;
    margin: 0px;
    padding: 0px;
}
.customSelect{
    background-color: #e6ffff;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    padding: 8px 16px;
    user-select: none;
    width: 100vw;
}
.weather-container{
    background-color: #e6ffff;
    text-align: center;
    height: 100vh;
}
.name{
    padding-top: 100px;
}
.location{
    height: 50px;
    padding-bottom: 10px;
    width: 48px;
}
.name{
    font-size: 60px;
    font-weight: bold;
}
.weather{
    font-size: 22px;
}
.temp {
    font-size: 60px;
    margin: 0;
    font-weight: bold;
}