
body{
    background-color: #e6ffff !important;  
    font-family: 'Roboto', Arial, sans-serif !important;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* .customSelect{
    background-color: #e6ffff;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    padding: 8px 16px;
    user-select: none;
    width: 100vw;
} */

.logo-img{
    height: 25%;
    width: 25%;
}

.container-sm{
    background-color: white;
    border: solid 3px #00AEEF;
    text-align: center;
}

#weather-info{
    animation-name: example;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    box-shadow: 0px 7px 7px #999;
    display: none;
    left: 0;
    position:absolute;
    right: 0;
    top: 352px;
}
@keyframes example{
    from   { left:0px; right:0px; top:450px;}
    to { left:0px; right:0px; top:352px;}
}

#current-weather{
    /* display: none; */
}

#hourly-weather{
    display: none;
}

#weekly-weather{
    display: none;
}

.btn{
    font-size: 14px !important;
    font-weight: bold !important;
}

.weather{
    font-size: 12px;
}
.temp {
    font-size: 40px;
    font-weight: bold;
}

.icon {
   height: 50px;
   width: 50px;
}

.scroll{
    overflow: auto;
    white-space: nowrap;
  
}

.scroll a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  .scroll a:hover {
    background-color: #777;
  }

.make-border{
    border-right: 5px solid #00AEEF ;
}
.box-width{
    width: 160px;
}